body {
  margin: 0;
  font-family: sans-serif;
  height: 10000px;
}
h1,
h2,
h3,
h4,
span,
ul,
img,
p {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 5px;
}

/* UTILIDADES */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.botao {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.33;
  color: #332200;
  background: linear-gradient(#ffbf00, #f2a60c);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  max-width: max-content;
}
.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.botao.secundario {
  background: var(--cor-c10);
  color: var(--cor-c02);
}
.botao.secundario:hover {
  background: var(--cor-c09);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
