.intro-bg {
  background-color: var(--cor-c12);
  box-shadow: inset 0 -120px #ffffff;
}
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.intro-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.font-1-xxl {
  margin-bottom: 32px;
}
.font-2-l {
  margin-bottom: 20px;
}
.intro-img img {
  border-radius: 5px;
  height: 100vh;
  object-fit: cover;
}

/* RESPONSIVIDADE */
@media (max-width: 800px) {
  .intro-bg {
    background: var(--cor-c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro-conteudo {
    padding-bottom: 0px;
  }
}
