/* Global */
@import url(./global/global.css);
@import url(./global/tipografia.css);
@import url(./global/cores.css);
@import url(./global/header.css);
@import url(./global/footer.css);
@import url(./global/animacao.css);

/* Home */
@import url(./home/intro.css);
@import url(./home/bikes.css);
@import url(./home/diferencial.css);
@import url(./home/parceiros.css);
@import url(./home/depoimento.css);
@import url(./home/seguros-home.css);

/* Termos */
@import url(./termos/termos.css);

/* Bicicletas */
@import url(./bicicletas/bicicletas.css);
@import url(./bicicletas/bicicletas-interna.css);

/* Seguros */
@import url(./seguros/vantagens.css);
@import url(./seguros/perguntas.css);

/* Contato */
@import url(./contato/contato.css);
@import url(./contato/orcamento.css);
