.font-1-xxl {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.125;
}
.ponto {
  color: var(--cor-p01);
}
.font-1-xl {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.font-1-l {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 1.5%;
}
.font-2-l {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1.5%;
}
.font-2-m {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}
.font-1-s {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.font-2-s {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.font-1-xs {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
.font-2-xs {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
}

/* RESPONSIVO */
@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .font-1-xl {
    font-size: 1.5rem;
  }
  .font-1-l {
    font-size: 1.125rem;
  }
  .font-2-l {
    font-size: 1rem;
  }
  .font-2-m {
    font-size: 1rem;
  }
  .font-2-s {
    font-size: 0.875rem;
  }
}
